In [1]:
import pandas as pd
from pymongo import MongoClient
import bson
from bson.raw_bson import RawBSONDocument
from config import password

In [2]:
df= pd.read_csv('train.csv')

In [3]:
selected_features = df[["OverallQual", "YearBuilt", "YearRemodAdd", "GrLivArea", "GarageCars", "GarageArea", "SalePrice"]]

In [4]:
selected_features.index.name = "_id"

In [5]:
#export first columns to csv
selected_features.to_csv('selected_features.csv')

In [6]:
selected_features

,OverallQual,YearBuilt,YearRemodAdd,GrLivArea,GarageCars,GarageArea,SalePrice
_id,,,,,,,
0,7,2003,2003,1710,2,548,208500
1,6,1976,1976,1262,2,460,181500
2,7,2001,2002,1786,2,608,223500
3,7,1915,1970,1717,3,642,140000
4,8,2000,2000,2198,3,836,250000
...,...,...,...,...,...,...,...
1455,6,1999,2000,1647,2,460,175000
1456,6,1978,1988,2073,2,500,210000
1457,7,1941,2006,2340,1,252,266500
1458,5,1950,1996,1078,1,240,142125
1459,5,1965,1965,1256,1,276,147500

In [7]:
#connection to MongoDB
client = MongoClient(f"mongodb+srv://humbertorodriguez:{password}@cluster0.yyllp.mongodb.net/data_analytics?retryWrites=true&w=majority")
database = client['data_analytics']
collection = database['selected_features']

def csv_to_json(filename):
    data = pd.read_csv(filename)
    return data.to_dict('records')

collection.insert_many(csv_to_json('selected_features.csv'))